@font-face {
  font-family: "Neutral Face";
  src: url("../fonts/NeutralFace/NeutralFace.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neutral Face";
  src: url("../fonts/NeutralFace/NeutralFace-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
