<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="error-page">
      <div class="container error-page__container">
        <div class="error-page__status">
          <svg width="464" height="169" viewBox="0 0 464 169" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M131.4 93.4V123.2H107V166H74.6V123.2H2.8V93.4L74.6 4.2H107V93.4H131.4ZM37.2 93.4H74.6V47.8L37.2 93.4Z"
              fill="#FECD20"
            />
            <path
              d="M231.6 0.799993C274.6 0.799993 301.2 32.8 301.2 85C301.2 138.8 272.2 169 231.6 169C191.8 169 162 139.2 162 85C162 33.2 189.6 0.799993 231.6 0.799993ZM231.6 134C251.6 134 264.8 114.2 264.8 85C264.8 55.6 253.4 35.8 231.6 35.8C207.8 35.8 198.4 52.4 198.4 85C198.4 113.8 210.4 134 231.6 134Z"
              fill="#E30717"
            />
            <path
              d="M459.4 93.4V123.2H435V166H402.6V123.2H330.8V93.4L402.6 4.2H435V93.4H459.4ZM365.2 93.4H402.6V47.8L365.2 93.4Z"
              fill="#1C1D1B"
            />
          </svg>
        </div>
        <div class="error-page__text">
          Страница не найдена. <br />
          Перейдите на <a href="/">главную</a> или воспользуйтесь <a href="#">поиском</a>
        </div>
      </div>
    </main>
    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
