<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block">
        <img src="./img/heading-6.jpg" alt="" class="fit-cover" />

        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">О компании</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">О компании</h1>
        </div>
      </div>

      <section class="page-section container">
        <div class="about-main-section">
          <div class="netbook-hidden">
            <div class="news-grid__navigation-list">
              <a href="#" class="news-grid__navigation-link">О компании LINNIMAX</a>
              <a href="#" class="news-grid__navigation-link">История</a>
              <a href="#" class="news-grid__navigation-link">Миссия, ценности, компетенции</a>
              <a href="#" class="news-grid__navigation-link">Карьера</a>
              <a href="#" class="news-grid__navigation-link">Новости</a>
              <a href="#" class="news-grid__navigation-link">Контакты</a>
            </div>
          </div>
          <div class="about-main-section__col">
            <div class="about-main-section__row">
              <div>
                <div class="about-main-section__row-title is-title">LINNIMAX - компания полного цикла</div>
                <div class="about-main-section__row-text">
                  Мы ценим настоящее и заботимся о будущем. Мы создаём покрытия и решения, которые обеспечивают эстетику
                  и уют вашего дома, преображают инфраструктуру вокруг, делают жизнь безопасной и комфортной.
                </div>
              </div>
              <div>
                <img src="./img/about-1.jpg" alt="" class="fit-cover" />
              </div>
            </div>
            <div class="about-main-section__row">
              <div>
                <div class="about-main-section__row-text">
                  Компания сопровождает свою продукцию качественным сервисом – от консультации по подбору материалов,
                  цветового решения, колеровки до доставки и консультации технолога на объекте.
                </div>
              </div>
              <div>
                <img src="./img/about-2.jpg" alt="" class="fit-cover" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section container">
        <div class="section-heading">
          <div class="h1 is-upper is-title">LINNIMAX - компания полного цикла</div>
        </div>
        <div class="carrer-advantages">
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/about-advantages-1.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Мы – команда экспертов</div>
              <div class="carrer-advantages-card__description">
                Глубокое знание рынка и ожиданий потребителей, новые технологии и богатый опыт.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/about-advantages-2.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Мы создаем безупречный продукт</div>
              <div class="carrer-advantages-card__description">
                Собственное современное производство и ноу-хау позволяют LINNIMAX создавать уникальные продукты и
                системные решения.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/about-advantages-3.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Мы – компания, с которой легко и комфортно</div>
              <div class="carrer-advantages-card__description">
                LINNIMAX – честный и надежный партнер. Мы всегда выполняем взятые на себя обязательства и отвечаем за
                результат.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/about-advantages-4.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Мы заботимся о качестве жизни и безопасности</div>
              <div class="carrer-advantages-card__description">
                Системные решения LINNIMAX обеспечивают чистоту воздуха, оптимальный уровень влажности и комфортную
                температуру.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section">
        <div class="section-heading container">
          <div class="h1 is-upper is-title">отзывы партнеров</div>
        </div>
        <div class="reviews-slider">
          <div class="swiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="./img/doc-1.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-1.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-2.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-2.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-1.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-1.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-2.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-2.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-1.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-1.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-2.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-2.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-1.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-1.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-2.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-2.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-1.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-1.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-2.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-2.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-1.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-1.jpg" alt="" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/doc-2.jpg" data-fancybox="reviews-slider">
                  <img src="./img/doc-2.jpg" alt="" />
                </a>
              </div>
            </div>
            <div class="swiper-arrow is-prev netbook-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next netbook-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper__pagination is-center netbook-visible"></div>
          </div>
        </div>
      </section>
      <section class="page-section main-map-section">
        <div class="section-heading container">
          <div class="h1 is-upper is-title">
            Где можно купить <br />
            нашу продукцию
          </div>
        </div>
        <div class="">
          <div class="main-map-section__map"><img src="./img/map-big.png" alt="" /></div>

          <a href="#" class="button is-primary main-map-section__btn">Перейти к карте</a>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
