<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block is-transparent">
        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">Архитекторам/Дизайнерам</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title is-full-w">Архитекторам/Дизайнерам</h1>
        </div>
      </div>
      <section class="people-heading-block page-section container">
        <div class="people-heading-block__description">
          LINNIMAX - универсальный бренд для профессионального и частного рынка. Нас выбирают профессионалы, а также те,
          кто самостоятельно занимаются ремонтом и хотят сделать свой дом уютным, эстетичным и безопасным. LINNIMAX -
          универсальный бренд для профессионального и частного рынка. Нас выбирают профессионалы, а также те, кто
          самостоятельно занимаются ремонтом и хотят сделать свой дом уютным, эстетичным и безопасным.
        </div>
        <img src="./img/people-4.png" alt="" class="people-heading-block__image" />
      </section>
      <section class="page-section container">
        <div class="useful-links-grid">
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Учебный центр Linnimax</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-1.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Цветовые коллекции</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-7.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Брошюры</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-8.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Узлы DWG</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-9.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Заказ веера</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-6.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Референс-объекты</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-10.jpg" alt="" class="fit-cover" /></div>
          </a>
        </div>
      </section>
      <section class="page-section container">
        <div class="section-heading is-small">
          <div class="h1 is-upper is-title">Наша продукция</div>
          <div class="netbook-hidden">
            <a href="#" class="more-link">
              <span class="is-title">Перейти в каталог</span>
              <div>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H11V11" stroke="#1C1D1B" />
                  <path d="M11 1L1 11" stroke="#1C1D1B" />
                </svg>
              </div>
            </a>
          </div>
        </div>

        <div class="main-production">
          <div class="main-production__item">
            <a href="#" class="production-card">
              <img src="./img/production-1.jpg" alt="" class="fit-cover production-card__image" />

              <div class="production-card__title is-title h6">Фасады</div>
            </a>
          </div>
          <div class="main-production__item">
            <a href="#" class="production-card">
              <img src="./img/production-2.jpg" alt="" class="fit-cover production-card__image" />

              <div class="production-card__title is-title h6">Интерьеры</div>
            </a>
          </div>
          <div class="main-production__item">
            <a href="#" class="production-card">
              <img src="./img/production-3.jpg" alt="" class="fit-cover production-card__image" />

              <div class="production-card__title is-title h6">Декоративные покрытия</div>
            </a>
          </div>
          <div class="main-production__item">
            <a href="#" class="production-card">
              <img src="./img/production-4.jpg" alt="" class="fit-cover production-card__image" />

              <div class="production-card__title is-title h6">Системы утепления</div>
            </a>
          </div>
          <div class="main-production__item">
            <a href="#" class="production-card">
              <img src="./img/production-5.jpg" alt="" class="fit-cover production-card__image" />

              <div class="production-card__title is-title h6">Материалы для дерева</div>
            </a>
          </div>
          <div class="main-production__item">
            <a href="#" class="production-card">
              <img src="./img/production-6.jpg" alt="" class="fit-cover production-card__image" />

              <div class="production-card__title is-title h6">Материалы для металла</div>
            </a>
          </div>
        </div>
        <div class="section-footer netbook-visible">
          <a href="#" class="button is-primary is-center">Перейти в каталог</a>
        </div>
      </section>

      <section class="page-section">
        <div class="section-heading container is-small">
          <div class="h4 is-upper is-title">Объекты</div>
          <div class="netbook-hidden">
            <a href="#" class="more-link">
              <span class="is-title">Посмотреть все объекты</span>
              <div>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H11V11" stroke="#1C1D1B" />
                  <path d="M11 1L1 11" stroke="#1C1D1B" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="objects-slider-2">
          <div class="swiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-1.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-2.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-3.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-4.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
            </div>
            <div class="swiper-arrow is-prev mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper__pagination is-center mobile-visible"></div>
          </div>
        </div>
        <div class="section-footer netbook-visible">
          <a href="#" class="button is-primary is-center">Посмотреть все объекты</a>
        </div>
      </section>
      <section class="page-section main-map-section">
        <div class="section-heading container">
          <div class="h1 is-upper is-title">
            Где можно купить <br />
            нашу продукцию
          </div>
        </div>
        <div class="">
          <div class="main-map-section__map"><img src="./img/map-big.png" alt="" /></div>

          <a href="#" class="button is-primary main-map-section__btn">Перейти к карте</a>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
