<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block">
        <img src="./img/heading-5.jpg" alt="" class="fit-cover" />

        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">работа в компании</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">работа в компании</h1>
        </div>
      </div>

      <section class="page-section container">
        <div class="carrer-about">
          <div>
            <div class="carrer-about__description">
              <div class="carrer-about__description-main">
                LINNIMAX – отделочные материалы для коммерческих и частных проектов. <br />
                Широкая линейка продуктов представлена фасадными и интерьерными красками, системами теплоизоляции
                (СФТК), грунтовками, шпатлевками, продуктами для защиты дерева и металла.
              </div>
              <div class="carrer-about__description-sub">
                Компания сопровождает свою продукцию качественным сервисом – от консультации по подбору материалов,
                цветового решения, колеровки до доставки и консультации технолога на объекте.
              </div>
              <a href="#resume-form" class="button is-primary js-navigate-link">Хочу стать частью команды</a>
            </div>
          </div>
          <div class="carrer-about__image">
            <img src="./img/carrer-about.png" alt="" />
          </div>
        </div>
      </section>
      <section class="page-section container">
        <div class="section-heading">
          <div class="h1 is-upper is-title">Плюсы работы в компании LINNIMAX</div>
        </div>
        <div class="carrer-advantages">
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/carrer-advantages-1.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Важный плюс работы в компании</div>
              <div class="carrer-advantages-card__description">
                Глубокое знание рынка и ожиданий потребителей, новые технологии и богатый опыт.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/carrer-advantages-2.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Важный плюс работы в компании</div>
              <div class="carrer-advantages-card__description">
                Собственное современное производство и ноу-хау позволяют LINNIMAX создавать уникальные продукты и
                системные решения.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/carrer-advantages-3.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Важный плюс работы в компании</div>
              <div class="carrer-advantages-card__description">
                LINNIMAX – честный и надежный партнер. Мы всегда выполняем взятые на себя обязательства и отвечаем за
                результат.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/carrer-advantages-4.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Важный плюс работы в компании</div>
              <div class="carrer-advantages-card__description">
                Системные решения LINNIMAX обеспечивают чистоту воздуха, оптимальный уровень влажности и комфортную
                температуру.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/carrer-advantages-5.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Важный плюс работы в компании</div>
              <div class="carrer-advantages-card__description">
                LINNIMAX – честный и надежный партнер. Мы всегда выполняем взятые на себя обязательства и отвечаем за
                результат.
              </div>
            </div>
          </div>
          <div class="carrer-advantages-card">
            <div class="carrer-advantages-card__image">
              <img src="./img/carrer-advantages-6.jpg" alt="" class="fit-cover" />
            </div>
            <div class="carrer-advantages-card__content">
              <div class="carrer-advantages-card__title">Важный плюс работы в компании</div>
              <div class="carrer-advantages-card__description">
                Системные решения LINNIMAX обеспечивают чистоту воздуха, оптимальный уровень влажности и комфортную
                температуру.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section container vacancy-section">
        <div class="vacancy-section__left">
          <div class="section-heading">
            <div class="h1 is-upper is-title">вакансии</div>
          </div>
        </div>
        <div class="">
          <div class="accordion">
            <div class="accordion-item js-accordion-item">
              <div class="accordion-item__header js-accordion-item-header">
                <div class="accordion-item__header-text">Наименование вакансии</div>
                <div class="accordion-item__button"></div>
              </div>
              <div class="accordion-item__content js-accordion-item__content">
                <div class="accordion-item__content-inner">
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Функциональные обязанности</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>
                          ведение участка "Банк": осуществление платежей в белорусской и иностранной валюте, работа с
                          банковскими выписками, предоставление сведений о поступлении денежных средств, подготовка
                          отчетов по движению денежных средств;
                        </li>
                        <li>
                          ведение участка "Учет выручки": формирование актов оказанных услуг, сверка расчетов, обработка
                          электронных счетов-фактур (ЭСЧФ);
                        </li>
                        <li>
                          замещение отсутствующих сотрудников бухгалтерии в период их отпусков (участки: учет заработной
                          платы, учет ТМЦ, ОС, услуги сторонних организаций).
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Требования</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>высшее образование: бухгалтерский учет;</li>
                        <li>опыт работы от 6 лет по вышеуказанным участкам;</li>
                        <li>уверенный пользователь 1С:8 Хьюмен, Excel;</li>
                        <li>
                          внимательность, умение работать в интенсивном режиме, желание учиться и развиваться,
                          открытость, доброжелательность, уравновешенность
                        </li>
                      </ul>
                    </div>
                  </div>

                  <a href="#resume-form" class="button is-primary js-navigate-link">Отправить резюме</a>
                </div>
              </div>
            </div>
            <div class="accordion-item js-accordion-item">
              <div class="accordion-item__header js-accordion-item-header">
                <div class="accordion-item__header-text">Наименование вакансии</div>
                <div class="accordion-item__button"></div>
              </div>
              <div class="accordion-item__content js-accordion-item__content">
                <div class="accordion-item__content-inner">
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Функциональные обязанности</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>
                          ведение участка "Банк": осуществление платежей в белорусской и иностранной валюте, работа с
                          банковскими выписками, предоставление сведений о поступлении денежных средств, подготовка
                          отчетов по движению денежных средств;
                        </li>
                        <li>
                          ведение участка "Учет выручки": формирование актов оказанных услуг, сверка расчетов, обработка
                          электронных счетов-фактур (ЭСЧФ);
                        </li>
                        <li>
                          замещение отсутствующих сотрудников бухгалтерии в период их отпусков (участки: учет заработной
                          платы, учет ТМЦ, ОС, услуги сторонних организаций).
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Требования</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>высшее образование: бухгалтерский учет;</li>
                        <li>опыт работы от 6 лет по вышеуказанным участкам;</li>
                        <li>уверенный пользователь 1С:8 Хьюмен, Excel;</li>
                        <li>
                          внимательность, умение работать в интенсивном режиме, желание учиться и развиваться,
                          открытость, доброжелательность, уравновешенность
                        </li>
                      </ul>
                    </div>
                  </div>

                  <a href="#resume-form" class="button is-primary js-navigate-link">Отправить резюме</a>
                </div>
              </div>
            </div>
            <div class="accordion-item js-accordion-item">
              <div class="accordion-item__header js-accordion-item-header">
                <div class="accordion-item__header-text">Наименование вакансии</div>
                <div class="accordion-item__button"></div>
              </div>
              <div class="accordion-item__content js-accordion-item__content">
                <div class="accordion-item__content-inner">
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Функциональные обязанности</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>
                          ведение участка "Банк": осуществление платежей в белорусской и иностранной валюте, работа с
                          банковскими выписками, предоставление сведений о поступлении денежных средств, подготовка
                          отчетов по движению денежных средств;
                        </li>
                        <li>
                          ведение участка "Учет выручки": формирование актов оказанных услуг, сверка расчетов, обработка
                          электронных счетов-фактур (ЭСЧФ);
                        </li>
                        <li>
                          замещение отсутствующих сотрудников бухгалтерии в период их отпусков (участки: учет заработной
                          платы, учет ТМЦ, ОС, услуги сторонних организаций).
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Требования</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>высшее образование: бухгалтерский учет;</li>
                        <li>опыт работы от 6 лет по вышеуказанным участкам;</li>
                        <li>уверенный пользователь 1С:8 Хьюмен, Excel;</li>
                        <li>
                          внимательность, умение работать в интенсивном режиме, желание учиться и развиваться,
                          открытость, доброжелательность, уравновешенность
                        </li>
                      </ul>
                    </div>
                  </div>

                  <a href="#resume-form" class="button is-primary js-navigate-link">Отправить резюме</a>
                </div>
              </div>
            </div>
            <div class="accordion-item js-accordion-item">
              <div class="accordion-item__header js-accordion-item-header">
                <div class="accordion-item__header-text">Наименование вакансии</div>
                <div class="accordion-item__button"></div>
              </div>
              <div class="accordion-item__content js-accordion-item__content">
                <div class="accordion-item__content-inner">
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Функциональные обязанности</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>
                          ведение участка "Банк": осуществление платежей в белорусской и иностранной валюте, работа с
                          банковскими выписками, предоставление сведений о поступлении денежных средств, подготовка
                          отчетов по движению денежных средств;
                        </li>
                        <li>
                          ведение участка "Учет выручки": формирование актов оказанных услуг, сверка расчетов, обработка
                          электронных счетов-фактур (ЭСЧФ);
                        </li>
                        <li>
                          замещение отсутствующих сотрудников бухгалтерии в период их отпусков (участки: учет заработной
                          платы, учет ТМЦ, ОС, услуги сторонних организаций).
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Требования</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>высшее образование: бухгалтерский учет;</li>
                        <li>опыт работы от 6 лет по вышеуказанным участкам;</li>
                        <li>уверенный пользователь 1С:8 Хьюмен, Excel;</li>
                        <li>
                          внимательность, умение работать в интенсивном режиме, желание учиться и развиваться,
                          открытость, доброжелательность, уравновешенность
                        </li>
                      </ul>
                    </div>
                  </div>

                  <a href="#resume-form" class="button is-primary js-navigate-link">Отправить резюме</a>
                </div>
              </div>
            </div>
            <div class="accordion-item js-accordion-item">
              <div class="accordion-item__header js-accordion-item-header">
                <div class="accordion-item__header-text">Наименование вакансии</div>
                <div class="accordion-item__button"></div>
              </div>
              <div class="accordion-item__content js-accordion-item__content">
                <div class="accordion-item__content-inner">
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Функциональные обязанности</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>
                          ведение участка "Банк": осуществление платежей в белорусской и иностранной валюте, работа с
                          банковскими выписками, предоставление сведений о поступлении денежных средств, подготовка
                          отчетов по движению денежных средств;
                        </li>
                        <li>
                          ведение участка "Учет выручки": формирование актов оказанных услуг, сверка расчетов, обработка
                          электронных счетов-фактур (ЭСЧФ);
                        </li>
                        <li>
                          замещение отсутствующих сотрудников бухгалтерии в период их отпусков (участки: учет заработной
                          платы, учет ТМЦ, ОС, услуги сторонних организаций).
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="vacancy-box">
                    <div class="vacancy-box__title">Требования</div>
                    <div class="vacancy-box__description">
                      <ul class="is-gray-text">
                        <li>высшее образование: бухгалтерский учет;</li>
                        <li>опыт работы от 6 лет по вышеуказанным участкам;</li>
                        <li>уверенный пользователь 1С:8 Хьюмен, Excel;</li>
                        <li>
                          внимательность, умение работать в интенсивном режиме, желание учиться и развиваться,
                          открытость, доброжелательность, уравновешенность
                        </li>
                      </ul>
                    </div>
                  </div>

                  <a href="#resume-form" class="button is-primary js-navigate-link">Отправить резюме</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      @@include("../blocks/modules/consultation-section/consultation-section.html")
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
