<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block">
        <img src="./img/heading-9.jpg" alt="" class="fit-cover" />

        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">контакты</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">контакты</h1>
        </div>
      </div>

      <section class="page-section container">
        <div class="contacts-box">
          <div class="contacts-box__title">Главный офис</div>
          <div class="contacts-box__grid">
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Телефон</div>
              <div class="contacts-box__card-content"><a href="tel:+8 (800) 600-58-34">8 (800) 600-58-34</a></div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Почта</div>
              <div class="contacts-box__card-content"><a href="mailto:info@linnimax.ru">info@linnimax.ru</a></div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Адрес офиса</div>
              <div class="contacts-box__card-content">
                Москва, ул. Авангардная, <br />
                д. 3, пом.2, оф. 304
              </div>
            </div>
          </div>
          <div class="contact-map" id="contact-map"></div>
        </div>
        <div class="contacts-box">
          <div class="contacts-box__title">Филиалы</div>
          <div class="contacts-box__grid">
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Центральный склад</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                142850, Московская область, Ступинский район, рп. Малино, Воскресенское шоссе, влд 23,к.
                <div>Телефон: <a href="tel:+7888474774">+700-58-34</a></div>
              </div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Екатеринбург</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                620085, г. Екатеринбург, ул. 8 Марта,д. 267, стр. А, оф. 105 доб. 5401
                <div>Телефон: <a href="tel:+8 800 600 58 34">8 800 600 58 34</a></div>
              </div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Краснодар</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                350004, Краснодарский Край,г. Краснодар, ул. Передерия, 64/Володи Головатого, 109
                <div>Телефон: <a href="tel:+8 967 310 38 92">8 967 310 38 92</a></div>
              </div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Новосибирск</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                630088, г. Новосибирск, Северный проезд, д. 37/1, 4 этаж, офис 403
                <div>Телефон: <a href="tel:+8 383 319 57 89">8 383 319 57 89</a></div>
              </div>
            </div>

            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Ростов-на-Дону</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                344064, г. Ростов-на-Дону, ул.2-Пятилетки, д.23, Литер ГА
                <div>Телефон: <a href="tel:+8 918 555 95 52">8 918 555 95 52</a></div>
              </div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Самара</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                А443011, Самара, улица Советской Армии, 203
                <div>Телефон: <a href="tel:+8 846 207 49 03">8 846 207 49 03</a></div>
              </div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Санкт-Петербург</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                192029, Санкт-Петербург, пр.Обуховской обороны, д.70,к.2, лит.А
                <div>Телефон: <a href="tel:+8 911 087 42 79">8 911 087 42 79</a></div>
              </div>
            </div>
            <div class="contacts-box__card">
              <div class="contacts-box__card-title">Ставрополь</div>
              <div class="contacts-box__card-content">
                Адрес: <br />
                355037, г. Ставрополь, ул. Доваторцев, 30б, оф. 49
                <div>Телефон: <a href="tel:+8 988 098 81 08">8 988 098 81 08</a></div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="button is-primary">Задать вопрос</a>
      </section>
      <section class="page-section main-map-section">
        <div class="section-heading container">
          <div class="h1 is-upper is-title">
            Где можно купить <br />
            нашу продукцию
          </div>
        </div>
        <div class="">
          <div class="main-map-section__map"><img src="./img/map-big.png" alt="" /></div>

          <a href="#" class="button is-primary main-map-section__btn">Перейти к карте</a>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
