<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block is-transparent">
        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Системы и решения</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">Фасады</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">Фасады</h1>
        </div>
      </div>
      <div class="system-heading-image"><img src="./img/system-2.jpg" alt="" class="fit-cover" /></div>
      <section class="page-section container">
        <div class="about-text-section w-border">
          <div class="is-title h6 is-upper">Текст с описанием</div>
          <div class="is-gray-text">
            <p>
              Широкая линейка продуктов представлена фасадными и интерьерными красками, системами теплоизоляции,
              грунтовками, шпатлевками, продуктами для защиты дерева и металла. Широкая линейка продуктов представлена
              фасадными и интерьерными красками, системами теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами
              для защиты дерева. Широкая линейка продуктов представлена фасадными и интерьерными красками, системами
              теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами для защиты дерева и металла.
            </p>
            <br />
            <p>
              Широкая линейка продуктов представлена фасадными и интерьерными красками, системами теплоизоляции,
              грунтовками, шпатлевками, продуктами для защиты дерева и металла. Широкая линейка продуктов представлена
              фасадными и интерьерными красками, системами теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами
              для защиты дерева. Широкая линейка продуктов представлена фасадными и интерьерными красками, системами
              теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами для защиты дерева и металла.
            </p>
          </div>
        </div>
        <div class="about-text-section w-border">
          <div class="is-title h4 is-upper">Полезные материалы</div>
          <div>
            <div class="articles-list">
              <a href="#"
                >Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.</a
              >
              <a href="#"
                >Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.</a
              >
              <a href="#"
                >Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.</a
              >
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="section-heading container is-small">
          <div class="h4 is-upper is-title">продукция</div>
          <div class="netbook-hidden">
            <a href="#" class="more-link">
              <span class="is-title">Перейти в каталог</span>
              <div>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H11V11" stroke="#1C1D1B" />
                  <path d="M11 1L1 11" stroke="#1C1D1B" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="products-slider">
          <div class="swiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-arrow is-prev mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper__pagination is-center mobile-visible"></div>
          </div>
        </div>
        <div class="section-footer netbook-visible">
          <a href="#" class="button is-primary is-center">Перейти в каталог</a>
        </div>
      </section>
      <section class="page-section">
        <div class="section-heading container is-small">
          <div class="h4 is-upper is-title">Объекты</div>
          <div class="netbook-hidden">
            <a href="#" class="more-link">
              <span class="is-title">Посмотреть все объекты</span>
              <div>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H11V11" stroke="#1C1D1B" />
                  <path d="M11 1L1 11" stroke="#1C1D1B" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="objects-slider-2">
          <div class="swiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-1.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-2.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-3.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="object-card-2">
                  <div class="object-card-2__image">
                    <img src="./img/catalog-obj-4.jpg" alt="" class="fit-cover" />
                  </div>
                  <div class="object-card-2__title">Саратовская Городская Детская Больница №4, г.Саратов</div>
                </a>
              </div>
            </div>
            <div class="swiper-arrow is-prev mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper__pagination is-center mobile-visible"></div>
          </div>
        </div>
        <div class="section-footer netbook-visible">
          <a href="#" class="button is-primary is-center">Посмотреть все объекты</a>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
