<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page main-page">
      <div class="main-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="main-slider-card">
                <img src="./img/main-slider.jpg" alt="" class="fit-cover" />

                <div class="main-slider-card__content">
                  <div class="main-slider-card__title h1 is-title">Профессиональное решение для интерьера и фасада</div>

                  <a href="#" class="button is-primary">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="main-slider-card">
                <img src="./img/main-slider.jpg" alt="" class="fit-cover" />

                <div class="main-slider-card__content">
                  <div class="main-slider-card__title h1 is-title">
                    Профессиональное решение для интерьера и фасада 2
                  </div>

                  <a href="#" class="button is-primary">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="main-slider-card">
                <img src="./img/main-slider.jpg" alt="" class="fit-cover" />

                <div class="main-slider-card__content">
                  <div class="main-slider-card__title h1 is-title">
                    Профессиональное решение для интерьера и фасада 3
                  </div>

                  <a href="#" class="button is-primary">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper__pagination"></div>
        </div>
      </div>
      <div class="animate-section">
        <section class="page-section">
          <div class="main-about">
            <div class="netbook-hidden">
              <img src="./img/main-about-2.jpg" alt="" />
            </div>
            <div class="main-about__content">
              <div class="main-about__content-inner">
                <div class="main-about__box">
                  <div class="main-about__logo">
                    <svg width="470" height="72" viewBox="0 0 470 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M16.025 57.582H51.18V72H0.0940003V-0.00100136H16.025V57.582ZM71.5777 -0.00100136V72H56.8037V-0.00100136H71.5777ZM131.634 -0.00100136H146.408V72H131.634L96.7459 23.05L96.3009 72H81.6159V-0.00100136H96.3009L131.634 48.593V-0.00100136ZM206.509 -0.00100136H221.283V72H206.509L171.621 23.05L171.176 72H156.491V-0.00100136H171.176L206.509 48.593V-0.00100136ZM246.139 -0.00100136V72H231.365V-0.00100136H246.139ZM313.85 -0.00100136H330.582V72H315.452V30.793L299.343 72H287.417L271.308 30.704V72H256.178V-0.00100136H272.821L293.38 56.692L313.85 -0.00100136ZM385.825 72L380.218 57.137H353.696L348.089 72H332.959L359.392 -0.00100136H376.124L401.044 72H385.825ZM358.68 43.876H375.234L366.957 21.982L358.68 43.876ZM469.945 -0.00100136L444.936 35.955L469.945 72H450.098L434.968 50.284L419.927 72H400.08L425.089 35.955L400.08 -0.00100136H419.927L434.968 21.715L450.098 -0.00100136H469.945Z"
                        fill="#1C1D1B"
                      />
                    </svg>
                  </div>
                  <h1 class="main-about__title h6">отделочные материалы для коммерческих и частных проектов</h1>
                </div>
                <div class="main-about__box">
                  <p class="sub-16">
                    Широкая линейка продуктов представлена фасадными и интерьерными красками, системами теплоизоляции
                    (СФТК), грунтовками, шпатлевками, продуктами для защиты дерева и металла.
                  </p>
                  <br />
                  <p class="is-gray-text">
                    Широкая линейка продуктов представлена фасадными и интерьерными красками, системами теплоизоляции
                    (СФТК), грунтовками, шпатлевками, продуктами для защиты дерева и металла.
                  </p>
                </div>
                <div class="main-about__box">
                  <p class="is-gray-text">
                    Продукция LINNIMAX отличается экологичностью, надежностью и высоким качеством.
                  </p>
                  <br />
                  <p class="is-gray-text">
                    Компания сопровождает свою продукцию качественным сервисом –от консультации по подбору материалов,
                    цветового решения, колеровки до доставки и консультации технолога на объекте.
                  </p>
                </div>
                <a href="#" class="main-about__more more-link">
                  <span class="is-title">Подробнее о компании</span>
                  <div class="more-link__arrow">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1H11V11" stroke="#1C1D1B" />
                      <path d="M11 1L1 11" stroke="#1C1D1B" />
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <section class="page-section container">
          <div class="section-heading">
            <div class="h1 is-upper is-title">
              Наша <br />
              продукция
            </div>
            <div class="netbook-hidden">
              <a href="#" class="more-link">
                <span class="is-title">Перейти в каталог</span>
                <div>
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1H11V11" stroke="#1C1D1B" />
                    <path d="M11 1L1 11" stroke="#1C1D1B" />
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="main-production">
            <div class="main-production__item">
              <a href="#" class="production-card">
                <img src="./img/production-1.jpg" alt="" class="fit-cover production-card__image" />

                <div class="production-card__title is-title h6">Фасады</div>
              </a>
            </div>
            <div class="main-production__item">
              <a href="#" class="production-card">
                <img src="./img/production-2.jpg" alt="" class="fit-cover production-card__image" />

                <div class="production-card__title is-title h6">Интерьеры</div>
              </a>
            </div>
            <div class="main-production__item">
              <a href="#" class="production-card">
                <img src="./img/production-3.jpg" alt="" class="fit-cover production-card__image" />

                <div class="production-card__title is-title h6">Декоративные покрытия</div>
              </a>
            </div>
            <div class="main-production__item">
              <a href="#" class="production-card">
                <img src="./img/production-4.jpg" alt="" class="fit-cover production-card__image" />

                <div class="production-card__title is-title h6">Системы утепления</div>
              </a>
            </div>
            <div class="main-production__item">
              <a href="#" class="production-card">
                <img src="./img/production-5.jpg" alt="" class="fit-cover production-card__image" />

                <div class="production-card__title is-title h6">Материалы для дерева</div>
              </a>
            </div>
            <div class="main-production__item">
              <a href="#" class="production-card">
                <img src="./img/production-6.jpg" alt="" class="fit-cover production-card__image" />

                <div class="production-card__title is-title h6">Материалы для металла</div>
              </a>
            </div>
          </div>
          <div class="section-footer netbook-visible">
            <a href="#" class="button is-primary is-center">Перейти в каталог</a>
          </div>
        </section>
        <section class="page-section main-directions-section">
          <div class="main-directions tabs">
            <div class="tabs__header container">
              <div class="tabs__button is-title is-active" data-tab="1">Мастерам</div>
              <div class="tabs__button is-title" data-tab="2">Застройщикам</div>
              <div class="tabs__button is-title" data-tab="3">Архитекторам\дизайнерам</div>
              <div class="tabs__button is-title" data-tab="4">Частным покупателям</div>
            </div>
            <div class="tabs__content">
              <div class="tabs__content-box is-tab-1 is-active">
                <div class="main-directions-card">
                  <img src="./img/main-directions-1.jpg" alt="" class="fit-cover" />

                  <div class="main-directions-card__content">
                    <div class="main-directions-card__description sub-16">
                      LINNIMAX - универсальный бренд для профессионального и частного рынка. Нас выбирают профессионалы,
                      а также те, кто самостоятельно занимаются ремонтом и хотят сделать свой дом уютным, эстетичным и
                      безопасным.
                    </div>
                    <a href="#" class="main-directions-card__link more-link">
                      <span class="is-title">Перейти к странице</span>
                      <div class="more-link__arrow">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 1H11V11" stroke="#1C1D1B" />
                          <path d="M11 1L1 11" stroke="#1C1D1B" />
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-2">
                <div class="main-directions-card">
                  <img src="./img/main-directions-1.jpg" alt="" class="fit-cover" />

                  <div class="main-directions-card__content">
                    <div class="main-directions-card__description sub-16">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsa debitis sapiente, eveniet
                      tempore nulla pariatur beatae dolores possimus cumque voluptatem minus veniam voluptas esse
                      consequatur impedit sit laborum enim.
                    </div>
                    <a href="#" class="main-directions-card__link more-link">
                      <span class="is-title">Перейти к странице</span>
                      <div class="more-link__arrow">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 1H11V11" stroke="#1C1D1B" />
                          <path d="M11 1L1 11" stroke="#1C1D1B" />
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-3">
                <div class="main-directions-card">
                  <img src="./img/main-directions-1.jpg" alt="" class="fit-cover" />

                  <div class="main-directions-card__content">
                    <div class="main-directions-card__description sub-16">
                      LINNIMAX - универсальный бренд для профессионального и частного рынка. Нас выбирают профессионалы,
                      а также те, кто самостоятельно занимаются ремонтом и хотят сделать свой дом уютным, эстетичным и
                      безопасным.
                    </div>
                    <a href="#" class="main-directions-card__link more-link">
                      <span class="is-title">Перейти к странице</span>
                      <div class="more-link__arrow">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 1H11V11" stroke="#1C1D1B" />
                          <path d="M11 1L1 11" stroke="#1C1D1B" />
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-4">
                <div class="main-directions-card">
                  <img src="./img/main-directions-1.jpg" alt="" class="fit-cover" />

                  <div class="main-directions-card__content">
                    <div class="main-directions-card__description sub-16">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora sed nihil officiis ratione,
                      minima atque repudiandae non iure harum? Quaerat debitis accusantium voluptas veritatis quidem,
                      deserunt repellat atque non.
                    </div>
                    <a href="#" class="main-directions-card__link more-link">
                      <span class="is-title">Перейти к странице</span>
                      <div class="more-link__arrow">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 1H11V11" stroke="#1C1D1B" />
                          <path d="M11 1L1 11" stroke="#1C1D1B" />
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="page-section main-map-section">
          <div class="section-heading container">
            <div class="h1 is-upper is-title">
              Где можно купить <br />
              нашу продукцию
            </div>
          </div>
          <div class="">
            <div class="main-map-section__map"><img src="./img/map-big.png" alt="" /></div>

            <a href="#" class="button is-primary main-map-section__btn">Перейти к карте</a>
          </div>
        </section>
        <section class="page-section">
          <div class="section-heading container">
            <div class="h1 is-upper is-title">Объекты</div>
          </div>
          <div class="object-section tabs">
            <div class="object-section__top container">
              <div class="tabs__header">
                <div class="tabs__button is-title is-active" data-tab="1">Фасады</div>
                <div class="tabs__button is-title" data-tab="2">Интерьеры</div>
                <div class="tabs__button is-title" data-tab="3">Спорт</div>
                <div class="tabs__button is-title" data-tab="4">Культура</div>
                <div class="tabs__button is-title" data-tab="5">Медицина</div>
                <div class="tabs__button is-title" data-tab="6">Образование</div>
              </div>
              <a href="#" class="more-link netbook-hidden">
                <span class="is-title">все объекты</span>
                <div class="more-link__arrow">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1H11V11" stroke="#1C1D1B" />
                    <path d="M11 1L1 11" stroke="#1C1D1B" />
                  </svg>
                </div>
              </a>
            </div>

            <div class="tabs__content">
              <div class="tabs__content-box is-tab-1 is-active">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                  </div>

                  <div class="swiper-arrow is-prev">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                  <div class="swiper-arrow is-next">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                  <div class="swiper__pagination is-center mobile-visible"></div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-2">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                  </div>

                  <div class="swiper-arrow is-prev">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                  <div class="swiper-arrow is-next">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-3">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                  </div>

                  <div class="swiper-arrow is-prev">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                  <div class="swiper-arrow is-next">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-4">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                  </div>

                  <div class="swiper-arrow is-prev">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                  <div class="swiper-arrow is-next">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-5">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                  </div>

                  <div class="swiper-arrow is-prev">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                  <div class="swiper-arrow is-next">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="tabs__content-box is-tab-6">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-1.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-2.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-3.jpg" alt="" class="fit-cover" />
                    </a>
                    <a href="#" class="swiper-slide">
                      <img src="./img/object-4.jpg" alt="" class="fit-cover" />
                    </a>
                  </div>

                  <div class="swiper-arrow is-prev">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                  <div class="swiper-arrow is-next">
                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-footer netbook-visible">
            <a href="#" class="button is-primary is-center">Все объекты</a>
          </div>
        </section>
        <section class="page-section container">
          <div class="section-heading">
            <div class="h1 is-upper is-title">Новости</div>
            <a href="#" class="more-link netbook-hidden">
              <span class="is-title">Перейти ко всем новостям</span>
              <div class="more-link__arrow">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H11V11" stroke="#1C1D1B" />
                  <path d="M11 1L1 11" stroke="#1C1D1B" />
                </svg>
              </div>
            </a>
          </div>
          <div class="main-news">
            <div class="main-news__item">
              <a href="#" class="news-card">
                <img src="./img/news-1.jpg" alt="" class="fit-cover" />
                <div class="news-card__content">
                  <div class="news-card__date">15 февраля 2024</div>
                  <div class="news-card__title">
                    Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                    оттенком стал Peach Fuzz.
                  </div>
                </div>
              </a>
            </div>
            <div class="main-news__item">
              <a href="#" class="news-card">
                <img src="./img/news-2.jpg" alt="" class="fit-cover" />
                <div class="news-card__content">
                  <div class="news-card__date">15 февраля 2024</div>
                  <div class="news-card__title">
                    Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                    оттенком стал Peach Fuzz.
                  </div>
                </div>
              </a>
            </div>
            <div class="main-news__item">
              <a href="#" class="news-card">
                <img src="./img/news-3.jpg" alt="" class="fit-cover" />
                <div class="news-card__content">
                  <div class="news-card__date">15 февраля 2024</div>
                  <div class="news-card__title">
                    Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                    оттенком стал Peach Fuzz.
                  </div>
                </div>
              </a>
            </div>
            <div class="main-news__item">
              <a href="#" class="news-card">
                <img src="./img/news-4.jpg" alt="" class="fit-cover" />
                <div class="news-card__content">
                  <div class="news-card__date">15 февраля 2024</div>
                  <div class="news-card__title">
                    Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                    оттенком стал Peach Fuzz.
                  </div>
                </div>
              </a>
            </div>
            <div class="main-news__item">
              <a href="#" class="news-card">
                <img src="./img/news-5.jpg" alt="" class="fit-cover" />
                <div class="news-card__content">
                  <div class="news-card__date">15 февраля 2024</div>
                  <div class="news-card__title">
                    Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                    оттенком стал Peach Fuzz.
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="section-footer netbook-visible">
            <a href="#" class="button is-primary is-center">Перейти ко всем новостям</a>
          </div>
        </section>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
