<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <style>
        .page {
          padding-top: 20vh;
        }

        .site-links {
          display: flex;
          flex-direction: column;
          padding: 4rem 0 6rem;
        }

        .site-links__item {
          font-weight: 500;
          font-size: 2rem;
          margin-bottom: 2rem;
          text-transform: uppercase;
          width: max-content;
        }
      </style>
      <div class="container">
        <div class="site-links">
          <a href="./home.html" target="_blank" class="site-links__item">Главная</a>
          <a href="./objects.html" target="_blank" class="site-links__item">Объекты</a>
          <a href="./objects-detailed.html" target="_blank" class="site-links__item">Объекты-детальная</a>
          <a href="./catalog.html" target="_blank" class="site-links__item">Каталог</a>
          <a href="./documents.html" target="_blank" class="site-links__item">Загрузки и документы</a>
          <a href="./news.html" target="_blank" class="site-links__item">Новости</a>
          <a href="./news-detailed.html" target="_blank" class="site-links__item">Новость Детально</a>
          <a href="./carrer.html" target="_blank" class="site-links__item">Карьера</a>
          <a href="./about.html" target="_blank" class="site-links__item">О компании</a>
                    
          
          
          <a href="./buy.html" target="_blank" class="site-links__item">Где купить</a>
          <a href="./contacts.html" target="_blank" class="site-links__item">Контакты</a>
          <a href="./services.html" target="_blank" class="site-links__item">Сервисы</a>
          <a href="./search-result-production.html" target="_blank" class="site-links__item">
            Результаты поиска продукция
          </a>
          <a href="./search-result-projects.html" target="_blank" class="site-links__item">Результаты поиска объекты</a>
          <a href="./search-result-docs.html" target="_blank" class="site-links__item">Результаты поиска документы</a>
          <a href="./search-result-news.html" target="_blank" class="site-links__item">Результаты поиска новости</a>

          <a href="./wood-protection.html" target="_blank" class="site-links__item">Защита дерева</-a>
          <a href="./facades.html" target="_blank" class="site-links__item">Фасады</a>
          <a href="./question.html" target="_blank" class="site-links__item">Задать вопрос</a>
          <a href="./404.html" target="_blank" class="site-links__item">404</a>

          <a href="./masters.html" target="_blank" class="site-links__item">Мастерам</a>
          <a href="./architects-designers.html" target="_blank" class="site-links__item">Архитекторам/Дизайнерам</a>
          <a href="./developers.html" target="_blank" class="site-links__item">Застройщикам</a>
          <a href="./private-client.html" target="_blank" class="site-links__item">Частному клиенту</a>
          

          <a href="./product.html" target="_blank" class="site-links__item">Карточка товара</a>
          <a href="./systems-solutions.html" target="_blank" class="site-links__item">Системы и решения</a>
          <a href="./insulation-systems.html" target="_blank" class="site-links__item">Системы утепления</a>

          <a href="./services-text.html" target="_blank" class="site-links__item">Текстовая для сервисов</a>
        </div>
      </div>
    </main>
    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
