<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block is-large">
        <img src="./img/heading-4.jpg" alt="" class="fit-cover" />
        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Новости</a></div>
              <div class="breadcrumbs__item">
                <span class="breadcrumbs__link">Виды декоративной штукатурки</span>
              </div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">Виды декоративной штукатурки</h1>
        </div>
      </div>
      <section class="page-section news-detailed container">
        <div class="content-container news-page">
          <div class="news-page__date">15 февраля 2024</div>
          <div class="editior-content">
            <p>
              Декоративная штукатурка существует давно, но в России ее начали массово применять всего несколько лет
              назад. Причины кроются в том, что многие люди ассоциируют материал с обычной штукатуркой для выравнивания
              поверхностей. Также сказывается недостаток наглядных примеров, по которым можно оценить все достоинства
              финишного слоя.
            </p>
            <br />
            <p>
              Постараемся восполнить этот информационный пробел и рассказать про различия декоративной и обычной
              штукатурок. Плюс максимально подробно расскажем о существующих видах отделочного материала.
            </p>
            <br />
            <img src="./img/news-detailed-1.jpg" alt="" style="width: 50%; float: left"/>
            <img src="./img/news-detailed-2.jpg" alt="" style="width: 50%; float: left"/>
            <h6>СОСТАВЫ ДЕКОРАТИВНОЙ ШТУКАТУРКИ И ОТЛИЧИЕ ОТ ОБЫЧНОГО ПОКРЫТИЯ</h6>
            <br>
            <p>Классический состав штукатурки предполагает наличие трех компонентов:
            <ul>
              <li> цемент;</li>
              <li>песок;</li>
              <li> известь.</li>
            </ul>
            <p>Такое сочетание подходит для выравнивания поверхностей. Но если в составе появятся определенные добавки, материал получит новые свойства, например, станет более фактурным и невосприимчивым к влаге, у него увеличится прочность или пластичность. Вариантов множество.</p></p>
            <br />
            <h6>АКРИЛОВАЯ</h6>
            <br>
            <p>Производители добавляют акриловые смолы, минералы и специальные компоненты. В комплексе такое сочетание позволяет получить эластичную смесь, которая превосходно ложится на любые строительные материалы. После нанесения раствор не усаживается и не трескается. Он обладает низкой гигроскопичностью, поэтому подходит для использования во влажных помещениях. В случае колеровки поверхность не нужно дополнительно окрашивать. Важно Состав реализуется в готовом виде, поэтому не требуются тратить время и приобретать инструменты для его приготовления.</p>
            <br>
            <img src="./img/news-detailed-3.jpg" alt="" style="width: 100%;" />
           
            <h6>СИЛИКАТНЫЕ</h6>
            <br>
            <p>Продаются в пластиковой таре: ведрах или банках разного объема. Смесь сразу может быть использована по назначению. В жидком виде она пластична, после высыхания набирает хорошую прочность. Материал имеет высокую паропроницаемость, поэтому при его применении исключено скапливание влаги. В состав штукатурки добавляются полимерные смолы, минеральные компоненты мелкой фракции и жидкое стекло. Последнее включает водный щелочной раствор.</p>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="section-heading container is-small">
          <div class="h4 is-upper is-title">другие новости</div>
        </div>
        <div class="news-slider">
          <div class="swiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="news-card">
                  <img src="./img/news-1.jpg" alt="" class="fit-cover" />
                  <div class="news-card__content">
                    <div class="news-card__date">15 февраля 2024</div>
                    <div class="news-card__title">
                      Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                      оттенком стал Peach Fuzz.
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="news-card">
                  <img src="./img/news-1.jpg" alt="" class="fit-cover" />
                  <div class="news-card__content">
                    <div class="news-card__date">15 февраля 2024</div>
                    <div class="news-card__title">
                      Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                      оттенком стал Peach Fuzz.
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="news-card">
                  <img src="./img/news-1.jpg" alt="" class="fit-cover" />
                  <div class="news-card__content">
                    <div class="news-card__date">15 февраля 2024</div>
                    <div class="news-card__title">
                      Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                      оттенком стал Peach Fuzz.
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="news-card">
                  <img src="./img/news-1.jpg" alt="" class="fit-cover" />
                  <div class="news-card__content">
                    <div class="news-card__date">15 февраля 2024</div>
                    <div class="news-card__title">
                      Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким
                      оттенком стал Peach Fuzz.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-arrow is-prev mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper__pagination is-center mobile-visible"></div>
          </div>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
