<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block">
        <img src="./img/heading-news.jpg" alt="" class="fit-cover" />

        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">Новости</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">новости</h1>
        </div>
      </div>
      <div class="news-grid container">
        <div class="news-grid__item">
          <div class="news-grid__navigation">
            <div class="news-grid__navigation-title h4 is-title">Навигация по разделам новостей</div>
            <div class="news-grid__navigation-list">
              <a href="#" class="news-grid__navigation-link is-current">Все новости</a>
              <a href="#" class="news-grid__navigation-link">Продукция</a>
              <a href="#" class="news-grid__navigation-link">О компании</a>
              <a href="#" class="news-grid__navigation-link">Раздел новостей</a>
              <a href="#" class="news-grid__navigation-link">Раздел новостей</a>
            </div>
          </div>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">Продукция</div>
            </div>
            <img src="./img/news-1.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">Продукция</div>
            </div>
            <img src="./img/news-2.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-3.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-4.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-6.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-7.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-8.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-9.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-10.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
        <div class="news-grid__item">
          <a href="#" class="news-card">
            <div class="news-card__tags">
              <div class="news-card__tag">О компании</div>
            </div>
            <img src="./img/news-11.jpg" alt="" class="fit-cover" />
            <div class="news-card__content">
              <div class="news-card__date">15 февраля 2024</div>
              <div class="news-card__title">
                Каждый год институт цвета Pantone называет главный цвет актуального года, и в 2024 году таким оттенком
                стал Peach Fuzz.
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="catalog-pagination">
        <a href="#" class="catalog-pagination__item is-nav">Назад</a>
        <a href="#" class="catalog-pagination__item is-current">1</a>
        <a href="#" class="catalog-pagination__item">2</a>
        <a href="#" class="catalog-pagination__item">3</a>
        <a href="#" class="catalog-pagination__item">4</a>
        <a href="#" class="catalog-pagination__item">5</a>
        <a href="#" class="catalog-pagination__item">6</a>
        <a href="#" class="catalog-pagination__item">...</a>
        <a href="#" class="catalog-pagination__item">12</a>
        <a href="#" class="catalog-pagination__item is-nav is-active">Дальше</a>
      </div>
      <div class="catalog-page-description"></div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
