<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block is-transparent">
        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Объекты</a></div>
              <div class="breadcrumbs__item">
                <span class="breadcrumbs__link">Саратовская Городская Детская Больница №4, г.Саратов</span>
              </div>
            </div>
          </div>
          <h1 class="h3 page-heading-block__title is-title is-full-w">
            Саратовская Городская Детская Больница №4, г.Саратов
          </h1>
        </div>
      </div>
      <div class="object-slider-container">
        <div class="object-slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="./img/object-detailed-1.jpg" data-fancybox="object-detailed">
                  <img src="./img/object-detailed-1.jpg" alt="" class="fit-cover" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/object-detailed-1.jpg" data-fancybox="object-detailed">
                  <img src="./img/object-detailed-1.jpg" alt="" class="fit-cover" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/object-detailed-1.jpg" data-fancybox="object-detailed">
                  <img src="./img/object-detailed-1.jpg" alt="" class="fit-cover" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/object-detailed-1.jpg" data-fancybox="object-detailed">
                  <img src="./img/object-detailed-1.jpg" alt="" class="fit-cover" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/object-detailed-1.jpg" data-fancybox="object-detailed">
                  <img src="./img/object-detailed-1.jpg" alt="" class="fit-cover" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="./img/object-detailed-1.jpg" data-fancybox="object-detailed">
                  <img src="./img/object-detailed-1.jpg" alt="" class="fit-cover" />
                </a>
              </div>
            </div>
            <div class="swiper-arrow is-prev">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="object-description container">
        <div class="object-description__title-box">
          <div class="object-description__title is-title">описание объекта</div>
          <a href="#" class="button is-primary is-upper is-tiny is-bold netbook-hidden">скачать pdf</a>
        </div>
        <div class="object-description__text">
          <p>
            Широкая линейка продуктов представлена фасадными и интерьерными красками, системами теплоизоляции,
            грунтовками, шпатлевками, продуктами для защиты дерева и металла. Широкая линейка продуктов представлена
            фасадными и интерьерными красками, системами теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами для
            защиты дерева. Широкая линейка продуктов представлена фасадными и интерьерными красками, системами
            теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами для защиты дерева и металла.
          </p>
          <br />
          <p>
            Широкая линейка продуктов представлена фасадными и интерьерными красками, системами теплоизоляции,
            грунтовками, шпатлевками, продуктами для защиты дерева и металла. Широкая линейка продуктов представлена
            фасадными и интерьерными красками, системами теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами для
            защиты дерева. Широкая линейка продуктов представлена фасадными и интерьерными красками, системами
            теплоизоляции (СФТК), грунтовками, шпатлевками, продуктами для защиты дерева и металла.
          </p>
        </div>
        <a href="#" class="button is-primary is-upper is-tiny is-bold netbook-visible">скачать pdf</a>
      </div>
      <section class="page-section">
        <div class="section-heading container is-small">
          <div class="h4 is-upper is-title">продукты, использованные на объекте</div>
        </div>
        <div class="products-slider">
          <div class="swiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                  <div class="product-card__tags">
                    <div class="product-card__tag is-yellow">praktisch</div>
                    <div class="product-card__tag is-green">LM</div>
                  </div>
                  <a href="#" class="product-card__image">
                    <img src="./img/product-1.png" alt="" />
                  </a>
                  <div class="product-card__content">
                    <a href="#">
                      <div class="product-card__title">ЛИННИМАКС 196 МАСТЕР КЛЕБЕР УНД АРМИРУНГ ВИНТЕР</div>
                      <div class="product-card__title">LINNIMAX 196 MASTER KLEBER UND ARMIERUNG WINTER</div>
                    </a>

                    <div class="product-card__type">краска фасадная</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-arrow is-prev mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper__pagination is-center mobile-visible"></div>
          </div>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
