<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block is-transparent">
        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">Частному клиенту</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">Частному клиенту</h1>
        </div>
      </div>
      <section class="people-heading-block page-section container">
        <div class="people-heading-block__description">
          LINNIMAX - универсальный бренд для профессионального и частного рынка. Нас выбирают профессионалы, а также те,
          кто самостоятельно занимаются ремонтом и хотят сделать свой дом уютным, эстетичным и безопасным. LINNIMAX -
          универсальный бренд для профессионального и частного рынка. Нас выбирают профессионалы, а также те, кто
          самостоятельно занимаются ремонтом и хотят сделать свой дом уютным, эстетичным и безопасным.
        </div>
        <img src="./img/people-3.png" alt="" class="people-heading-block__image" />
      </section>
      <section class="page-section container">
        <div class="useful-links-grid">
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Выкрасы</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-14.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Вдохновение</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-15.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Техническая консультация</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-12.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Веера</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-16.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Новости</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-17.jpg" alt="" class="fit-cover" /></div>
          </a>
          <a href="#" class="useful-links-card">
            <div class="useful-links-card__title is-title">Образцы</div>
            <div class="useful-links-card__img"><img src="./img/useful-links-18.jpg" alt="" class="fit-cover" /></div>
          </a>
        </div>
      </section>

      <section class="page-section">
        <div class="section-heading container">
          <div class="h1 is-upper is-title">
            Обучающие видео для работы <br />
            с продукцией
          </div>
          <div class="netbook-hidden">
            <a href="#" class="more-link">
              <span class="is-title">смотреть все видео</span>
              <div>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H11V11" stroke="#1C1D1B" />
                  <path d="M11 1L1 11" stroke="#1C1D1B" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="objects-slider-2">
          <div class="swiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a
                  href="https://www.youtube.com/watch?v=iYYRH4apXDo"
                  data-fancybox="video-gallery-1"
                  class="object-card-2"
                >
                  <div class="object-card-2__image is-video">
                    <img src="./img/catalog-obj-1.jpg" alt="" class="fit-cover" />

                    <div class="object-card-2__video-icon">
                      <svg
                        width="120"
                        height="120"
                        viewBox="0 0 120 120"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle opacity="0.5" cx="60" cy="60" r="59.5" stroke="white" />
                        <path
                          d="M81.9296 57.456C83.8096 58.631 83.8096 61.369 81.9296 62.544L50.59 82.1313C48.5918 83.3801 46 81.9436 46 79.5873L46 40.4127C46 38.0564 48.5919 36.6199 50.59 37.8687L81.9296 57.456Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="object-card-2__title">Наименование видео</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.youtube.com/watch?v=iYYRH4apXDo"
                  data-fancybox="video-gallery-1"
                  class="object-card-2"
                >
                  <div class="object-card-2__image is-video">
                    <img src="./img/catalog-obj-1.jpg" alt="" class="fit-cover" />

                    <div class="object-card-2__video-icon">
                      <svg
                        width="120"
                        height="120"
                        viewBox="0 0 120 120"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle opacity="0.5" cx="60" cy="60" r="59.5" stroke="white" />
                        <path
                          d="M81.9296 57.456C83.8096 58.631 83.8096 61.369 81.9296 62.544L50.59 82.1313C48.5918 83.3801 46 81.9436 46 79.5873L46 40.4127C46 38.0564 48.5919 36.6199 50.59 37.8687L81.9296 57.456Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="object-card-2__title">Наименование видео</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.youtube.com/watch?v=iYYRH4apXDo"
                  data-fancybox="video-gallery-1"
                  class="object-card-2"
                >
                  <div class="object-card-2__image is-video">
                    <img src="./img/catalog-obj-1.jpg" alt="" class="fit-cover" />

                    <div class="object-card-2__video-icon">
                      <svg
                        width="120"
                        height="120"
                        viewBox="0 0 120 120"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle opacity="0.5" cx="60" cy="60" r="59.5" stroke="white" />
                        <path
                          d="M81.9296 57.456C83.8096 58.631 83.8096 61.369 81.9296 62.544L50.59 82.1313C48.5918 83.3801 46 81.9436 46 79.5873L46 40.4127C46 38.0564 48.5919 36.6199 50.59 37.8687L81.9296 57.456Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="object-card-2__title">Наименование видео</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.youtube.com/watch?v=iYYRH4apXDo"
                  data-fancybox="video-gallery-1"
                  class="object-card-2"
                >
                  <div class="object-card-2__image is-video">
                    <img src="./img/catalog-obj-1.jpg" alt="" class="fit-cover" />

                    <div class="object-card-2__video-icon">
                      <svg
                        width="120"
                        height="120"
                        viewBox="0 0 120 120"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle opacity="0.5" cx="60" cy="60" r="59.5" stroke="white" />
                        <path
                          d="M81.9296 57.456C83.8096 58.631 83.8096 61.369 81.9296 62.544L50.59 82.1313C48.5918 83.3801 46 81.9436 46 79.5873L46 40.4127C46 38.0564 48.5919 36.6199 50.59 37.8687L81.9296 57.456Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="object-card-2__title">Наименование видео</div>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.youtube.com/watch?v=iYYRH4apXDo"
                  data-fancybox="video-gallery-1"
                  class="object-card-2"
                >
                  <div class="object-card-2__image is-video">
                    <img src="./img/catalog-obj-1.jpg" alt="" class="fit-cover" />

                    <div class="object-card-2__video-icon">
                      <svg
                        width="120"
                        height="120"
                        viewBox="0 0 120 120"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle opacity="0.5" cx="60" cy="60" r="59.5" stroke="white" />
                        <path
                          d="M81.9296 57.456C83.8096 58.631 83.8096 61.369 81.9296 62.544L50.59 82.1313C48.5918 83.3801 46 81.9436 46 79.5873L46 40.4127C46 38.0564 48.5919 36.6199 50.59 37.8687L81.9296 57.456Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="object-card-2__title">Наименование видео</div>
                </a>
              </div>
            </div>
            <div class="swiper-arrow is-prev mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 15L2 8L10 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper-arrow is-next mobile-hidden">
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15L9 8L1 1" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="swiper__pagination is-center mobile-visible"></div>
          </div>
        </div>
        <div class="section-footer netbook-visible">
          <a href="#" class="button is-primary is-center">Смотреть все видео</a>
        </div>
      </section>

      <section class="page-section main-map-section">
        <div class="section-heading container">
          <div class="h1 is-upper is-title">
            Где можно купить <br />
            нашу продукцию
          </div>
        </div>
        <div class="">
          <div class="main-map-section__map"><img src="./img/map-big.png" alt="" /></div>

          <a href="#" class="button is-primary main-map-section__btn">Перейти к карте</a>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
