<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="page-heading-block">
        <img src="./img/heading-services.jpg" alt="" class="fit-cover" />

        <div class="page-heading-block__content container">
          <div class="page-heading-block__crumbs-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__link">Сервисы</span></div>
            </div>
          </div>
          <h1 class="page-heading-block__title is-title">Сервисы</h1>
        </div>
      </div>

      <section class="page-section container">
        <div class="about-text-section">
          <div class="is-title h6 is-upper">Заголовок текста</div>
          <div class="is-gray-text">
            Производители добавляют акриловые смолы, минералы и специальные компоненты. В комплексе такое сочетание
            позволяет получить эластичную смесь, которая превосходно ложится на любые строительные материалы. После
            нанесения раствор не усаживается и не трескается. Он обладает низкой гигроскопичностью, поэтому подходит для
            использования во влажных помещениях. В случае колеровки поверхность не нужно дополнительно
            окрашивать. Важно Состав реализуется в готовом виде, поэтому не требуются тратить время и приобретать
            инструменты для его приготовления.
          </div>
        </div>
        <div class="services-grid">
          <div class="services-grid__item">
            <a href="#" class="service-card">
              <img src="./img/service-1.jpg" alt="" class="fit-cover service-card__image" />

              <div class="service-card__title is-title h6">Компьютерная колеровка (в т.ч. апдейт программы)</div>
            </a>
          </div>
          <div class="services-grid__item">
            <a href="#" class="service-card">
              <img src="./img/service-2.jpg" alt="" class="fit-cover service-card__image" />

              <div class="service-card__title is-title h6">Цветовые коллекции</div>
            </a>
          </div>
          <div class="services-grid__item">
            <a href="#" class="service-card">
              <img src="./img/service-3.jpg" alt="" class="fit-cover service-card__image" />

              <div class="service-card__title is-title h6">Заказ веера, образцов, консультации</div>
            </a>
          </div>

          <div class="services-grid__item">
            <a href="#" class="service-card">
              <img src="./img/service-4.jpg" alt="" class="fit-cover service-card__image" />

              <div class="service-card__title is-title h6">Учебный центр Linnimax</div>
            </a>
          </div>

          <div class="services-grid__item">
            <a href="#" class="service-card">
              <img src="./img/service-5.jpg" alt="" class="fit-cover service-card__image" />

              <div class="service-card__title is-title h6">Фасадный калькулятор</div>
            </a>
          </div>
          <div class="services-grid__item">
            <a href="#" class="service-card">
              <img src="./img/service-6.jpg" alt="" class="fit-cover service-card__image" />

              <div class="service-card__title is-title h6">Проектное сопровождение</div>
            </a>
          </div>
          <div class="services-grid__item">
            <a href="#" class="service-card">
              <img src="./img/service-7.jpg" alt="" class="fit-cover service-card__image" />

              <div class="service-card__title is-title h6">Сопроводительная документация</div>
            </a>
          </div>
        </div>
      </section>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
